@import url("./reset.css");
@import url("./variable.css");
@import url("./font.css");
@import url("./defualt.css");

body {
  font-family: iransans;
}
.top-bar {
  padding: 10px 0;
  background-color: #fafafa;
}
.top-bar__right {
  gap: 20px;
}
.top-bar__right-text {
  color: var(--gray);
}
.top-bar__right-icon {
  color: var(--primary-color);
  font-size: 20px;
}
.top-bar__right-item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-left: 8px;
}
.top-bar__right-item:not(:last-child) {
  border-left: 1px solid rgb(219, 219, 219);
}
.top-bar__left-social {
  display: flex;
  align-items: center;
  gap: 10px;
  border-left: 1px solid rgb(219, 219, 219);
  padding-left: 8px;
}
.top-bar__left-social-text {
  color: var(--gray);
}
.top-bar__left-social-link {
  background-color: var(--primary-color);
  padding: 8px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-bar__left-social-icon {
  color: white;
}
.top-bar__left-search {
  margin-right: 8px;
  padding-bottom: 8px;
  border-bottom: 2px solid var(--primary-color);
}
.top-bar__left-search-input {
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--primary-color);
}
.top-bar__left-search-btn {
  border: none;
  background-color: transparent;
  outline: none;
}

.navbar {
  margin-top: 10px;
}
.navbar-img {
  width: 80px;
}
.navbar-ul {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.navbar-link {
  color: var(--gray);
  position: relative;
}
.navbar-link:hover {
  color: var(--primary-color);
  position: relative;
}
.navbar-sec__list {
  position: absolute;
  top: 40px;
  padding: 10px;
  background-color: white;
  border-top: 3px solid var(--primary-color);
  width: 150px;
  display: none;
  visibility: hidden;
  opacity: 0;
  transition: all 400ms ease;
  border-radius: 8px;
  z-index: 9999;
}
.navbar-sec__list li {
  margin-bottom: 10px;
}
.navbar-pages {
  display: flex;
  gap: 6px;
}
.navbar-pages:hover .navbar-sec__list {
  display: block;
  visibility: visible;
  opacity: 1;
}
.fa-arrow-down-long {
  font-size: 16px;
  color: var(--primary-color);
}
.navbar-btn {
  border: 1px solid var(--primary-color);
  background-color: transparent;
  color: var(--primary-color);
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 18px;
  transition: all 400ms ease;
}
.navbar-btn:hover {
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  color: white;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 20px;
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
  gap: 1rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.swiper-slide__header {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 8px 20px;
  font-size: 2.5rem;
  border-radius: 25px;
  color: #002833;
}
.swiper-slide__text {
  font-size: 3rem;
}
.swiper-slide__btns button {
  color: white;
  font-family: iransans;
  padding: 15px 25px;
  border-radius: 35px;
  border: none;
  transition: all 400ms ease;
  font-size: 18px;
}
.swiper-slide__btn1 {
  background-color: var(--gray);
  filter: drop-shadow(0 0 15px rgba(0, 255, 0, 0.6));
}
.swiper-slide__btn2 {
  background-color: #8c5acd;
}
.swiper-slide__btn2:hover,
.swiper-slide__btn1:hover {
  background-color: #002833;
}
.slider1 {
  background-image: url(../images/main1.jpg);
}
.slider2 {
  background-image: url(../images/main2.jpg);
}
.swiper-prev-next {
  position: absolute;
  left: 100px;
  right: 100px;
}
.swiper-button-next,
.swiper-button-prev {
  color: white;
  border: 1px solid;
  padding: 30px 30px;
  border-radius: 8px;
}
.jobs {
  margin-top: -100px;
  z-index: 9999;
  position: relative;
}
.jobs-item {
  box-shadow: 0 15px 20px 0 #f1f1f1;
  padding: 30px;
  border-bottom: 3px solid #f1f1f1;
  background-color: white;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  border-radius: 15px;
  transition: all 400ms ease;
}
.jobs-item:hover {
  transform: translateY(-10px);
  border-bottom: 4px solid var(--primary-color);
}
.jobs-icon {
  width: 80px;
}
.jobs-head {
  color: rgb(36, 36, 36);
  transition: all 400ms ease;
  font-size: 30px;
  font-weight: bold;
}
.jobs-head:hover {
  color: var(--primary-color);
}
.jobs-text {
  color: #5c5c5c;
  line-height: 1.5;
}
.aboutus {
  margin: 50px 0;
}
.aboutus-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.aboutus-left {
  position: relative;
}
.aboutus-left img {
  border-radius: 15px;
}
.expe {
  position: absolute;
  background-color: white;
  bottom: 60px;
  right: -60px;
  padding: 15px;
  box-shadow: 0 30px 45px 0 #ffe19e;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  border-radius: 15px;
  color: var(--primary-color);
}
.aboutus-right {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.aboutus-head {
  color: var(--primary-color);
}
.aboutus-text {
  font-size: 30px;
  font-weight: bold;
}
.aboutus-desc {
  font-size: 15px;
  color: #5c5c5c;
  line-height: 1.5;
}
.aboutus-lists {
  display: flex;
  align-items: center;
  gap: 200px;
}
.aboutus-lists ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.aboutus-lists ul li {
  color: var(--primary-color);
}
.aboutus-lists ul li::before {
  content: "\f14a";
  font-family: "Font Awesome 5 Free";
  margin-left: 5px;
  color: var(--primary-color);
}
.service {
  margin-top: 50px;
  background-color: #f1f1f1;
}
.service-top {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  padding-top: 30px;
}
.service-top__header {
  color: #5c5c5c;
  font-size: 25px;
  font-weight: bold;
}
.service-top__text {
  color: var(--primary-color);
  font-size: 15px;
}
.service-boxes {
  padding: 40px 0;
}
.service-box {
  background-color: white;
  padding: 30px 15px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 8px;
  margin-bottom: 15px;
  transition: all 400ms ease;
}
.service-box:hover {
  transform: translateY(-5px);
}
.service-box__img {
  background-color: var(--primary-color);
  margin: auto;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
}
.service-box__icon {
  width: 60px;
}
.service-box__head {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}
.service-box__text {
  text-align: center;
  font-size: 15px;
  line-height: 1.5;
  color: var(--primary-color);
}
.service-box__link {
  text-align: center;
  color: var(--primary-color);
}

.counter {
  background-image: url(../images/bg.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  color: white;
  margin-bottom: 30px;
  position: relative;
}
.counter-box {
  padding: 6rem 0;
}
.counter-header {
  display: block;
  font-size: 25px;
  font-weight: bold;
}
.counter-text {
  font-size: 16px;
  display: block;
  padding: 25px 0;
}
.counter-numbers {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.counter-number {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.counter-numbs,
.counter-number__text {
  font-size: 22px;
  font-weight: bold;
}
.view {
  padding: 50px 0;
  text-align: center;
}
.view-head {
  font-size: 25px;
  font-weight: bold;
  color: black;
}
.view-text {
  font-size: 16px;
  display: block;
  font-weight: 100;
  color: gray;
  margin: 15px 0 30px 0;
}
.view-item {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
}
.view-item::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(to top, rgb(0, 0, 0), transparent);
  transition: all 400ms ease;
}
.view-item:hover.view-item::before {
  background: linear-gradient(to top, var(--primary-color), transparent);
}
.view-item__1 {
  background-image: url(../images/post1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}
.view-item__2 {
  background-image: url(../images/post2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}
.view-item__3 {
  background-image: url(../images/post3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}
.view-item__head {
  position: absolute;
  bottom: 120px;
  color: white;
  transition: all 400ms ease;
  right: 20px;
}
.view-item__head:hover {
  color: var(--primary-color);
}
.view-item__text {
  position: absolute;
  bottom: 30px;
  color: white;
  transition: all 400ms ease;
  right: 20px;
  left: 20px;
  font-size: 22px;
  font-weight: bold;
  text-align: right;
  line-height: 1.5;
}
.view-item__text:hover {
  color: #002833;
}

.buyers {
  background-color: #f1f1f1;
  padding: 50px 0;
  text-align: center;
}
.buyers-swiper {
  width: 100%;
  height: 100%;
}

.buyers-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.buyers-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.buyres-swiper {
  height: 800px;
}
.blog {
  padding: 50px 0;
  text-align: center;
}
.blog-item{
  border-radius: 15px;
  border: 1px solid rgb(243, 243, 243);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.blog-box{
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.blog-category{
  background-color: var(--primary-color);
  padding: 8px 12px;
  border-radius: 35px;
  font-size: 15px;
  color: white;
  width: 25%;
}
.blog-category:hover{
  color: white;
}
.blog-item__head{
  color: black;
  font-size: 20px;
  font-weight: 500;
  text-align: right;
  line-height: 1.5;
  transition: all 400ms ease;
}
.blog-item__head:hover{
  color: var(--primary-color);

}
.blog-detail{
  display: flex;
  align-items: center;
  gap: 1.5rem;
  color: var(--primary-color);
}